h1 {
  font-family:SDSwaggerTTF;
  font-size: 5em;
  color:#363636
}
h5 {
  font-family:silgothic;
  font-size: 0.8em;
  color:#ffffff
}
strong{
  font-family:SDSwaggerTTF;
  font-size: 2em;
  color:#363636
}

p{
  font-family:silgothic;
  color:'#fff'
}

/*나눔바른고딕 light*/

@font-face {
  font-family: 'SDSwaggerTTF';
  src: url('./components/utility/SDSwaggerTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silgothic';
  src: url('./components/utility/silgothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: .8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: .7;
  position: absolute;
  right: 2.3rem;
  top: .4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  color: #ffffff;
  display: flex !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

body {
  background-color:#ffffff;
  /* background-color:#DC2C1A; */
  visibility: visible !important;
}


.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}


.link-1 {

  font-size: 20px;
  text-decoration: none;
  padding: 20px 0;
  margin: 0 20px;
}


.hovicon.effect-1 {
  position: relative;
  text-align: center;
  vertical-align:middle;
  border: none;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 0 #5a69bf;
  border-radius: 50%;
/*  background-color: #e84c3d;*/
  background-color: rgba(255, 255, 255, .7);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.hovicon.effect-1:hover {
  -webkit-animation: pulse 1s cubic-bezier(0.10, 0, 0, 1);
  -moz-animation: pulse 1s  cubic-bezier(0.10, 0, 0, 1);
  -ms-animation: pulse 1s cubic-bezier(0.10, 0, 0, 1);
  animation: pulse 1s cubic-bezier(0.10, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 12px rgba(45, 45, 45, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 12px rgba(45, 45, 45, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 12px rgba(45, 45, 45, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 12px rgba(45, 45, 45, 0);}}


/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer{	padding: 20px 0;	background: #5a69bf;}
footer ul{	padding-left: 0;	list-style: none;}
